<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href=<%="#{bookmark.url}"%>><%="#{bookmark.title}"%></a></li>
  <% end %>
</ul>
<form action='/bookmarks/add_new_bookmark' method='get'>
  <input type='submit' value='Add new bookmark'/>
</form>
