<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
<form action='/bookmarks/add_new_bookmark' method='get'>
  <input type='submit' value='Add new bookmark'/>
</form>
